@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sacramento&family=Work+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-['Work_Sans'];
}

.font-handwriting {
  @apply font-['Sacramento'];
}

.font-bree {
  @apply font-['Bree_Serif'];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
